
@{
    ViewData["Title"] = "AccessDenied";
}
<use>
    <img class="img-fluid m-3" width="200" src="https://7contabilidad.com/7V1/assets/images/accesoDenegado.png" />
    <h1 class="access-h1">Error 403</h1>
    <h2 class="access-h2">Acceso denegado! No puedes realizar esta acción, comunicate con el administrador.</h2>
  <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1000 1000" enable-background="new 0 0 1000 1000" xml:space="preserve" class="whistle">
<metadata> Svg Vector Icons : http://www.onlinewebfonts.com/icon </metadata>
<g><g transform="translate(0.000000,511.000000) scale(0.100000,-0.100000)">
</svg>
</use>
